body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.dropdown.bootstrap-select {
  width: 100% !important;
}
body {
  padding: 10px;
  background-color: #e3f2fd;
  transition: 1s all linear;
}
.container {
  max-width: 1000px;
  height: 85vh;
  padding:20px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  border-radius: 40px;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 2px 2px rgba(0, 0, 0, 0.03),
    0 4px 4px rgba(0, 0, 0, 0.03), 0 8px 8px rgba(0, 0, 0, 0.03),
    0 16px 16px rgba(0, 0, 0, 0.03), 0 32px 32px rgba(0, 0, 0, 0.03);
}
.container > .row {
  height: 100%;
  overflow-x: scroll;
}
.container > .row >.row {
  max-width: 1000px;
  border-radius: 10px;
  position: relative;
}
.container > .row > .row > * > * {
  transition: 1s all linear;
  border-width: 0px;
}
#icon {
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 0px;
  line-height: 100px;
}
.col-6 > p {
  margin: 0;
  padding: 0;
}
button.btn.dropdown-toggle.btn-light {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#error {
  padding-top: 10px;
  color: red;
  font-weight: bold;
}

#days {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

#days li {
  margin: 1.5em 0.2em 1.5em 0.2em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

#days h6 {
  font-size: 90%;
  font-weight: bold;
  margin: 0;
}

#days li > div {
  display: flex;
  justify-content: center;
}

#days li > * > span {
  margin: 0px 10px 10px 10px;
}

#icon {
  transform: scale(0.7);
}

#min {
  color: blue;
  font-size: 90%;
}

#max {
  color: red;
  font-size: 90%;
}

.liHover {
  transition: all 1s linear;
  background-color: rgb(255, 254, 188);
  box-shadow: 5px 10px 30px rgb(163, 195, 255);
}

@media only screen and (max-width: 780px) {
  .container {
    padding-top: 30px; 
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
  }
}

.clearfix {
  clear: both;
}
